/* For smooth scrolling*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}


/* General body styles*/
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #C5C7BC;
    margin: 0;
    padding: 0.5rem;
    line-height: 1.5;
    
}

/* Headers */
header {
    background-color: #B6AE9F;
    color: black;
    text-align: center;
    padding: 2rem 0;
    margin: 20px 0px;
    font-weight: bold;
    font-size: 2rem;
}
